<!doctype html>
<html>
<head>
    <title>{{ title|default('DataWasher') }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
</head>
<body class="pt-16">
    <header class="fixed top-0 left-0 w-full bg-gray-100 shadow py-2">
        <nav class="flex space-x-4 px-4">
            <a class="text-blue-600" href="{{ url_for('main.greeting') }}">Greeting</a>
            <a class="text-blue-600" href="{{ url_for('main.login') }}">Login</a>
            <a class="text-blue-600" href="{{ url_for('main.home') }}">Home</a>
            <a class="text-blue-600" href="{{ url_for('main.dashboard') }}">Dashboard</a>
        </nav>
    </header>
