<!doctype html>
<html>
<head>
    <title>{{ title|default('DataWasher') }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
</head>
<body class="pt-16">
    <header class="fixed top-0 left-0 w-full shadow py-2">
        <nav class="flex space-x-4 px-4">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.logout') }}">Logout</a>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.one_hour_report') }}">1-Hour-Report</a>
            <a href="{{ url_for('main.eod_report') }}">EOD-Report</a>
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('main.track_shipments') }}">Track Shipments</a>
            <a href="{{ url_for('main.list_work_types') }}">Work Types</a>
            <a href="{{ url_for('main.list_labors') }}">Labor</a>
            <a href="{{ url_for('main.list_staged_items') }}">Staged Inventory</a>
            <a href="{{ url_for('main.barcode_scan') }}">Barcode Scan</a>
            <a href="{{ url_for('main.webcam_demo') }}">Webcam Demo</a>
            {% else %}
            <a href="{{ url_for('main.greeting') }}">Greeting</a>
            <a href="{{ url_for('main.create_user') }}">Create User</a>
            <a href="{{ url_for('main.login') }}">Login</a>
            <a href="{{ url_for('main.webcam_demo') }}">Webcam Demo</a>
            {% endif %}
        </nav>
    </header>
